extends layout

block content
	script.
		$(".navbar li").removeClass("active");

		function success(){}
		function Join(itemid){
			$.ajax({
				  type: "POST",
				  url: "/joinproject",
				  data: {itemid:itemid},
				  success: success,
				  dataType: "json"
				});
		}

	.container.primary-container
		h1= title
		small= description

		hr

		.container
			.row
				.col-md-6.col-sm-12
					h2 Details
					table.invisitable
						tr
							td.bold-cell Creator
							td= userinfo.username
						tr
							td.bold-cell Creator Email
							td= userinfo.email
						tr
							td.bold-cell Location
							td= location
						tr
							- var mydate = new Date(date + "T" + time);
							- var datestring = mydate.toUTCString();
							td.bold-cell Date and Time
							td= datestring 
			
			.row
				button.btn.btn-primary.regular-button(style="margin-top: 50px;", onclick="Join(\"" + _id + "\")") Join